<div class="m-t-1 m-b-1">
    <div>
      <div fxLayout="row wrap" fxLayoutGap="10px grid">
        <div fxFlex="50">
          <div>
            1923AA23-5
          </div>
        </div>
        <div fxFlex="50" fxLayoutAlign="end center">
            Open
        </div>
         
        <div fxFlex="50">
          <div>
           16.12.2018
          </div>
        </div>
        <div fxFlex="50">
          <div class="text-align-right">
           218
          </div>
        </div> 
      </div>
    </div>
  </div>
