$p50: #E0F7FA;
$p100: #B2EBF2;
$p200: #80DEEA;
$p300: #4DD0E1;
$p400: #2692da;
$p500: #0098d4;
$p600: #00ACC1;
$p700: #0097A7;
$p800: #00838F;
$p900: #006064;
$A100: #84FFFF;
$A200: #18FFFF;
$A400: #00E5FF;
$A700: #00B8D4;

$prefered: #1d8663;
$primary-font: #30617c;
$background-white: #fff;
$title-font: #0e537a;
$subheader-font: #003f69;
$detail-header: #375969;
$detail-content: #eeeeee;

$border: $p100;
$border-hover: $p800;
$background-disabled: $p50;
