$p50: #E0F7FA;
$p100: #B2EBF2;
$p200: #80DEEA;
$p300: #4DD0E1;
$p400: #26C6DA;
$p500: #00BCD4;
$p600: #00ACC1;
$p700: #0097A7;
$p800: #00838F;
$p900: #006064;
$A100: #84FFFF;
$A200: #18FFFF;
$A400: #00E5FF;
$A700: #00B8D4;

$prefered: #1BC98E;
$primary-font: #fff;
$background-white: #fff;
$title-font: #7a73c2;
$subheader-font: #82a2e6;
$detail-header: #cccccc;
$detail-content: #eeeeee;

$border: $p100;
$border-hover: $p800;
$background-disabled: $p50;