server/node_modules
server/idea/
server/bower_components/
server/tmp/
server/tmp/
server/sass-cache
server/tmp/*
server/dist/
server/assets/
server/DS_Store
server/npm-debug.log
server/tests/sqlite.db
server/*.log
server/*.iml

client/node_modules
client/idea
client/dist

