<div class="new-customer">
  <div class="avs-list m-t-1 m-l-1">
    <mat-card>
      <mat-card-header>
        <mat-icon class="title-icon-size" mat-card-avatar>person</mat-icon>
        <mat-card-title>Customer</mat-card-title>
        <mat-card-subtitle>Add new customer</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content fxLayout="row" class="list-container">
          <mat-vertical-stepper [linear]="'true'" #stepper class="full-width">
              <mat-step [stepControl]="customerForm">
                  <ng-template matStepLabel>Fill out your name</ng-template>
                  <div fxLayout="row" >
                      <form fxLayout="column" fxFlex="90"  [formGroup]="customerForm">
                          <mat-form-field>
                            <mat-select placeholder="Salutation" formControlName="salutation">
                              <mat-option value="male">Male</mat-option>
                              <mat-option value="female">Female</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="First name" formControlName="firstName">
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Last name" formControlName="lastName">
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Phone" formControlName="phone">
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Email" formControlName="email">
                          </mat-form-field>
                          <div fxLayout="row" fxLayoutGap="16px">
                              <button mat-button mat-raised-button color="accent" class="m-r-1" (click)="submitClientForm()">
                                <span> Save</span>
                              </button>
                              <button mat-button mat-raised-button matStepperNext color="accent" [disabled]="!isClientSubmitted" class="m-r-1">
                                <span> Next</span>
                              </button>
                          </div>
                        </form>
                  </div>
              </mat-step>
              <mat-step>
                  <ng-template matStepLabel>Add addres for the client</ng-template>
                  <avs-dashboard-addresses [clientId]="client?.clientId"  fxFlexFill></avs-dashboard-addresses>
              </mat-step>
            </mat-vertical-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>
