<div class="dashboard-device-model">
  <h2>Model</h2>
  <div fxLayout="row">
    <mat-accordion class="full-width">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="m-r-1">
              <mat-icon>add_circle_outline</mat-icon>
            </span>
            <span>Add a new model</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form fxLayout="column" fxFlex="100" [formGroup]="modelForm">
          <mat-form-field>
            <input matInput placeholder="Model name" formControlName="deviceModelName">
          </mat-form-field>
          <div fxLayout="row" fxLayoutGap="16px">
            <div>
              <button mat-button mat-raised-button color="accent" (click)="submitModelForm()">
                <span>Save</span>
              </button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
      <avs-added-model (click)="setSelectedDeviceModel(model)" [model]="model" *ngFor="let model of models">
      </avs-added-model>
    </mat-accordion>
  </div>
</div>
