<div class="order-item-service">
  <mat-card class="m-b-1">
    <mat-card-title>
      <div *ngIf="service" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <button mat-mini-fab (click)="isOnEditMode = !isOnEditMode;">
            <mat-icon *ngIf="!isOnEditMode">arrow_drop_down</mat-icon>
            <mat-icon *ngIf="isOnEditMode">arrow_drop_up</mat-icon>
          </button>
        </div>
        <div>{{ selectedService?.price || service?.Service?.price}}.- CHF</div>
      </div>
      <div *ngIf="!service" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="20">
          <button mat-mini-fab (click)="addNewService = !addNewService;">
            <mat-icon *ngIf="!addNewService">arrow_drop_down</mat-icon>
            <mat-icon *ngIf="addNewService">arrow_drop_up</mat-icon>
          </button>
        </div>
        <div fxFlex="80">
          <span translate="SERVICE.ADD"></span>
        </div>
      </div>
    </mat-card-title>
    <mat-card-content class="m-t-1 m-b-1" *ngIf="!isOnEditMode && service">
      <div fxLayout="column">
        <div class="service-first">
          <div fxLayout="row">
            <div><span translate="SERVICE.NAME"></span>: &nbsp;</div>
            <div> {{ service?.Service?.serviceName}}</div>
          </div>
          <div fxLayout="row" class="p-t-1 p-b-1">
            <div><span translate="MODEL.NAME"></span>: &nbsp;</div>
            <div> {{ service?.deviceModel?.deviceModelName}}</div>
          </div>
          <div fxLayout="row">
            <div><span translate="DEVICE.NAME"></span>: &nbsp;</div>
            <div> {{ service?.device?.deviceName}}</div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-content *ngIf="addNewService || isOnEditMode">
      <form [formGroup]="serviceForm" class="full-width">
        <div fxLayout="column" class="m-t-1" fxLayoutAlign="start start" fxLayout.xs="column">
          <div fxFlex="100" class="full-width">
            <mat-form-field class="full-width">
              <mat-select formControlName="device" placeholder="{{ 'DEVICE.SELECT' | translate }}">
                <mat-option *ngFor="let device of devices; let i = index" name="xx-{i}" [value]="device.deviceId"
                  (click)="getModelsByDeviceId(device)">
                  {{device?.deviceName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="100" class="full-width">
            <mat-form-field class="full-width">
              <mat-select formControlName="model" placeholder="{{ 'MODEL.SELECT' | translate }}">
                <mat-option *ngFor="let model of models; let i = index" name="yy-{i}" [value]="model.deviceModelId"
                  (click)="getAllServicesByModelId(model)">
                  {{model?.deviceModelName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="100" class="full-width">
            <mat-form-field class="full-width">
              <mat-select formControlName="service" placeholder="{{ 'SERVICE.SELECT' | translate }}">
                <mat-option *ngFor="let service of services; let i = index" name="zz-{i}" [value]="service.serviceId"
                  (click)="getSelectedService(service)">
                  {{service?.serviceName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions *ngIf="addNewService || isOnEditMode">
      <div *ngIf="service" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutAlign="space-between center">
        <div fxLayout.xs="column" [ngStyle.xs]="{'width': '100%'}" class="m-1" >
          <button mat-raised-button [ngStyle.xs]="{'width': '100%'}" class="m-b-1" color="primary" class="m-b-1" (click)="updateService();">
            <mat-icon>done</mat-icon>
            <span translate="BUTTON.UPDATE"></span>
          </button>
          <button mat-raised-button [ngStyle.xs]="{'width': '100%', 'margin': '20px 0 0 0px'}" class="m-b-1" (click)="deleteOrderItemService()">
            <mat-icon>delete</mat-icon>
            <span translate="BUTTON.DELETE"></span>
          </button>
        </div>
        <div [ngStyle.xs]="{'width': '100%'}">
          <button mat-raised-button [ngStyle.xs]="{'width': '100%'}" color="accent" (click)="isOnEditMode = !isOnEditMode">
            <span translate="BUTTON.CANCEL"></span>
          </button>
        </div>
      </div>
      <div *ngIf="!service" fxLayout="row" [ngStyle.xs]="{'width': '100%'}"  fxLayoutAlign="space-between center">
        <button mat-raised-button [ngStyle.xs]="{'width': '100%'}" color="primary" class="m-b-1" (click)="addService()">
          <mat-icon>done</mat-icon>
          <span translate="BUTTON.SAVE"></span>
        </button>
        <button mat-raised-button [ngStyle.xs]="{'width': '100%'}" color="accent" (click)="addNewService = !addNewService">
          <span translate="BUTTON.CANCEL"></span>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
