<div class="avs-home-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="navbar" fxFlex="100%">
    <div class="navbar-logo">
      <img src="/assets/images/logo-244x51.png" alt="logo" class="logo">
    </div>
    <span fxFlex></span> <!-- the space between search  icon and the profil-image -->

      <button mat-raised-button color="primary" [routerLink]="['/auth/login']" routerLinkActive="router-link-active">LOGIN</button>
  </div>

  <div class="item item-1" fxFlex="45%">
    <h1>The Most Beautiful & Powerful <span class="text-green">Order Management</span> System</h1>
    <h2>It is a "must have" application</h2>
    <p>Automates the order management on focus Smartphone & Tablet repair services.</p>
    <div>
      <button mat-raised-button color="accent" class="m-r-1">KONTAKT</button>
      <button mat-raised-button color="primary" [routerLink]="['/auth/login']" routerLinkActive="router-link-active">LOGIN</button>
    </div>
  </div>
  <div class="item item-2" fxFlex="50%">
    <img src="/assets/images/auftragpro-screenshot.jpg">
  </div>
</div>
