<div class="dashboard-addresses">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="m-r-1">
            <mat-icon>add_circle_outline</mat-icon>
          </span>
          <span translate="ADDRESS.ADD"></span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="addressForm">
        <div>
          <div fxLayout="column">
            <mat-form-field>
              <input matInput formControlName="streetName" placeholder="{{'INPUT.STREET' | translate}}">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="plzNumber" placeholder="{{'INPUT.ZIP' | translate}}">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="cityName" placeholder="{{'INPUT.CITY' | translate}}">
            </mat-form-field>
            <mat-form-field>
              <mat-select formControlName="countryName" placeholder="{{'INPUT.COUNTRY' | translate}}">
                <mat-option value="ch">Schweiz</mat-option>
                <mat-option value="de">Germany</mat-option>
                <mat-option value="en">England</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px">
          <div>
            <button mat-button mat-raised-button color="accent" (click)="saveAddress()">
              <span translate="BUTTON.SAVE"></span>
            </button>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
    <avs-dashboard-address-extra *ngFor="let address of addresses" [clientId]="clientId" [userId]="userId" [address]="address">
    </avs-dashboard-address-extra>
  </mat-accordion>
</div>
