<div class="dashboard-added-models">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="m-r-1">
          <mat-icon>perm_device_information</mat-icon>
        </span>
        <span>{{model.deviceModelName}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form fxLayout="column" fxFlex="100" [formGroup]="modelForm">
      <mat-form-field>
        <input matInput placeholder="{{'MODEL.NAME' | translate}}" formControlName="deviceModelName">
      </mat-form-field>
      <div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-button mat-raised-button color="accent" (click)="updateModel()">
            <span translate="BUTTON.UPDATE"></span>
          </button>
          <button mat-button mat-raised-button color="warn" (click)="deleteModel()">
              <span translate="BUTTON.DELETE"></span>
          </button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</div>

