<div class="side-menu-content">
  <mat-accordion multi="true" displayMode="flat">
    <mat-expansion-panel class="no-panel" dense>
      <mat-expansion-panel-header [routerLink]="['/dashboard','main']" fxLayout="row" [expandedHeight]="'48px'">
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>dashboard</mat-icon>
            </span>
            <span>Dashboard</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel class="">
      <mat-expansion-panel-header [routerLink]="['/dashboard','orders']" fxLayout="row">
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>format_list_bulleted</mat-icon>
            </span>
            <span>Orders</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list dense>
        <mat-list-item [routerLink]="['/dashboard','new-order']">
          <div fxLayout="row" class="vertical-center" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>add_to_queue</mat-icon>
            </span>
            <span>New Order</span>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel class="no-panel" dense>
      <mat-expansion-panel-header [routerLink]="['/dashboard','devices']" fxLayout="row" [expandedHeight]="'48px'">
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>perm_device_information</mat-icon>
            </span>
            <span>Devices</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel class="no-panel" dense>
      <mat-expansion-panel-header [routerLink]="['/dashboard','customers']" fxLayout="row" [expandedHeight]="'48px'">
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>supervisor_account</mat-icon>
            </span>
            <span>Customers</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel class="no-panel" dense>
      <mat-expansion-panel-header [routerLink]="['/dashboard','users']" fxLayout="row" [expandedHeight]="'48px'">
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>person</mat-icon>
            </span>
            <span>Users</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel class="no-panel" dense>
      <mat-expansion-panel-header [routerLink]="['/dashboard','settings']" fxLayout="row" [expandedHeight]="'48px'">
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>settings</mat-icon>
            </span>
            <span>Settings</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>