<div class="side-menu-content">
  <mat-accordion multi="false" displayMode="flat" >
    <mat-expansion-panel [ngClass]="{'selected-item': selectedMenu === 'main'}" class="disable-body" [hideToggle]="'true'">
      <mat-expansion-panel-header [routerLink]="['/dashboard','main']" fxLayout="row" [expandedHeight]="'48px'">
        <mat-panel-title>
          <div [ngClass]="{'mat-primary': selectedMenu === 'main'}" class="mat-toolbar selected-indicator"></div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>dashboard</mat-icon>
            </span>
            <span translate="DASHBOARD.TITLE"></span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel [ngClass]="{'selected-item': selectedMenu === 'orders' || selectedMenu === 'new-order'}">
      <mat-expansion-panel-header [routerLink]="['/','dashboard','orders', 'list']" fxLayout="row" >
        <mat-panel-title>
          <div [ngClass]="{'mat-primary': selectedMenu === 'orders' || selectedMenu === 'new-order'}" class="mat-toolbar selected-indicator"></div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>format_list_bulleted</mat-icon>
            </span>
            <span translate="ORDER.TITLE"></span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list dense>
          <mat-list-item [routerLink]="['/','dashboard','orders', 'list']">
            <div fxLayout="row" class="vertical-center" fxLayoutAlign="space-between center">
              <span class="m-r-1">
                <mat-icon>format_list_bulleted</mat-icon>
              </span>
              <span translate="ORDER.LIST"></span>
            </div>
          </mat-list-item>
        </mat-nav-list>
      <mat-nav-list dense>
        <mat-list-item [routerLink]="['/','dashboard','new-order']">
          <div fxLayout="row" class="vertical-center" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>add_to_queue</mat-icon>
            </span>
            <span translate="ORDER.NEW"></span>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [ngClass]="{'selected-item': selectedMenu === 'devices'}" [hideToggle]="'true'" class="disable-body">
      <mat-expansion-panel-header [routerLink]="['/dashboard','devices']" fxLayout="row"  [expandedHeight]="'48px'">
        <mat-panel-title>
          <div [ngClass]="{'mat-primary': selectedMenu === 'devices'}" class="mat-toolbar selected-indicator"></div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>perm_device_information</mat-icon>
            </span>
            <span translate="SERVICE.TITLE"></span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel [ngClass]="{'selected-item': selectedMenu === 'customers'  || selectedMenu === 'new-customer'}" [hideToggle]="'false'">
      <mat-expansion-panel-header [routerLink]="['/dashboard','customers', 'list']" fxLayout="row"   [expandedHeight]="'48px'">
        <mat-panel-title>
          <div [ngClass]="{'mat-primary': selectedMenu === 'customers' || selectedMenu === 'new-customer'}" class="mat-toolbar selected-indicator"></div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>supervisor_account</mat-icon>
            </span>
            <span translate="CUSTOMER.TITLE"></span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list dense>
          <mat-list-item [routerLink]="['/','dashboard','customers', 'list']">
            <div fxLayout="row" class="vertical-center" fxLayoutAlign="space-between center">
              <span class="m-r-1">
                <mat-icon>format_list_bulleted</mat-icon>
              </span>
              <span translate="CUSTOMER.LIST"></span>
            </div>
          </mat-list-item>
        </mat-nav-list>
      <mat-nav-list dense>
        <mat-list-item [routerLink]="['/','dashboard','new-customer']">
          <div fxLayout="row" class="vertical-center" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>add_to_queue</mat-icon>
            </span>
            <span translate="CUSTOMER.NEW"></span>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [ngClass]="{'selected-item': selectedMenu === 'users' || selectedMenu === 'new-user'}" [hideToggle]="'false'">
      <mat-expansion-panel-header [routerLink]="['/dashboard','users', 'list']" fxLayout="row" [expandedHeight]="'48px'">
        <mat-panel-title>
            <div [ngClass]="{'mat-primary': selectedMenu === 'users' || selectedMenu === 'new-user'}" class="mat-toolbar selected-indicator"></div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>person</mat-icon>
            </span>
            <span translate="USER.TITLE"></span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list dense>
          <mat-list-item [routerLink]="['/','dashboard','users', 'list']">
            <div fxLayout="row" class="vertical-center" fxLayoutAlign="space-between center">
              <span class="m-r-1">
                <mat-icon>format_list_bulleted</mat-icon>
              </span>
              <span translate="USER.SUBTITLE"></span>
            </div>
          </mat-list-item>
      </mat-nav-list>
      <mat-nav-list dense *ngIf="isAdmin()">
        <mat-list-item [routerLink]="['/','dashboard','new-user']">
          <div fxLayout="row" class="vertical-center" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>add_to_queue</mat-icon>
            </span>
            <span translate="USER.NEW"></span>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel [ngClass]="{'selected-item': selectedMenu === 'settings'}" [hideToggle]="'true'" [expanded]="'false'" class="disable-body">
      <mat-expansion-panel-header [routerLink]="['/dashboard','settings']" fxLayout="row"  [expandedHeight]="'48px'">
        <mat-panel-title>
          <div [ngClass]="{'mat-primary': selectedMenu === 'settings'}" class="mat-toolbar selected-indicator"></div>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="m-r-1">
              <mat-icon>settings</mat-icon>
            </span>
            <span translate="SETTING.TITLE"></span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
     </mat-expansion-panel>
  </mat-accordion>
</div>
