.side-menu-content{
  .mat-expansion-panel-header{
    padding: 0 24px 0 0;
    .selected-indicator{
      width: 4px;
      padding-top: 16px;
      height: 36px;
      margin-right: 16px;
    }
  }
  .selected-item{
    background: whitesmoke;
  }
}
