<div class="users-component avs-list m-1">
  <mat-card>
    <mat-card-header>
      <mat-icon class="title-icon-size recognition" (click)="nav?.sidenav.toggle()" mat-card-avatar>person</mat-icon>
      <mat-card-title translate="USER.TITLE"></mat-card-title>
      <mat-card-subtitle translate="USER.SUBTITLE"></mat-card-subtitle>
      <div class="search-area">
        <div class="search-wrapper">
          <avs-search (word)="searchWord($event)"></avs-search>
        </div>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="row" class="user-list-container list-container">
      <avs-sidenav #nav fxFlex="1 1 auto" (emitter)="changeNavigationState($event)">
        <div list>
          <mat-list-item class="user-item-holder item-holder" role="listitem" *ngFor="let user of users">
            <avs-dashboard-user-item fxFlex="1 1 auto" [userId]="currentUserId" (click)="closeOnMobileSelection(user, nav)"
              [user]="user" class="avs-dashboard-user-item"></avs-dashboard-user-item>
          </mat-list-item>
        </div>
        <div details>
          <mat-tab-group>
            <mat-tab label="{{ 'USER.DETAILS' | translate }}">
              <avs-dashboard-user-details (emitter)="getAll($event)" [userId]="currentUserId">
              </avs-dashboard-user-details>
            </mat-tab>
            <mat-tab label="{{ 'USER.ADDRESS' | translate }}">
              <avs-dashboard-addresses [userId]="currentUserId" #addressForm fxFlexFill></avs-dashboard-addresses>
            </mat-tab>
            <mat-tab label="{{ 'USER.ORDERS' | translate }}">
              <avs-dashboard-customer-orders [clientId]="currentUserId"></avs-dashboard-customer-orders>
            </mat-tab>
          </mat-tab-group>
        </div>
      </avs-sidenav>
    </mat-card-content>
  </mat-card>
</div>
