.users-component {
  
  .title-icon-size {
    font-size: 48px;
  }

  .users-form {
    .example-container {
      display: flex;
      flex-direction: column;
    }

    .example-container>* {
      width: 100%;
    }
    
  }

}