<div class="dashboard-new-device">
  <div fxLayout="row" fxLayoutGap="40px">
      <div fxFlex="50">
          <div fxLayout="row">
            <h3 fxFlex="100">Select a device</h3>
          </div>
          <div fxLayout="row">
              <form fxFlex="100" [formGroup]="selectedDeviceForm">
                    <mat-form-field fxFlex="100">
                        <mat-select placeholder="Language" fxFlex="100"  formControlName="selectedDevice" placeholder="Select a device">
                          <mat-option *ngFor="let device of devices"
                          (click)="setSelectedDevice(device)"
                          [value]="device.deviceId"
                          >
                              {{device.deviceName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
              </form>
          </div>
      </div>
      <div fxFlex="50" >
          <div fxLayout="row">
              <h3 fxFlex="100">Add a new device</h3>
            </div>
          <mat-accordion class="full-width">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="m-r-1">
                      <mat-icon>add_circle_outline</mat-icon>
                    </span>
                    <span>Add a new device</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <form fxLayout="column" fxFlex="100" [formGroup]="deviceForm">
                  <mat-form-field>
                    <input matInput placeholder="Device name" formControlName="deviceName">
                  </mat-form-field>
                  <div fxLayout="row" fxLayoutGap="16px">
                    <div>
                      <button mat-button mat-raised-button color="accent" (click)="submitDeviceForm()">
                        <span>Save</span>
                      </button>
                    </div>
                  </div>
                </form>
              </mat-expansion-panel>
              <avs-dashboard-added-devices  [device]="device" *ngFor="let device of devices">
              </avs-dashboard-added-devices>
            </mat-accordion>
      </div>
  </div>
</div>
