<div class="dashboard-device-service">
  <h2 translate="SERVICE.TITLE"></h2>
  <div fxLayout="row">
    <mat-accordion class="full-width">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="m-r-1">
              <mat-icon>add_circle_outline</mat-icon>
            </span>
            <span translate="SERVICE.ADD"></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form fxLayout="column" fxFlex="100" [formGroup]="serviceForm">
          <mat-form-field>
            <input matInput placeholder="{{'SERVICE.NAME' | translate}}" formControlName="serviceName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'INPUT.PRICE' | translate}}" formControlName="price">
          </mat-form-field>
          <div fxLayout="row" fxLayoutGap="16px">
            <div>
              <button mat-button mat-raised-button color="accent" (click)="submitServiceForm()">
                <span translate="BUTTON.SAVE"></span>
              </button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
      <avs-added-service [service]="service" *ngFor="let service of services">
      </avs-added-service>
    </mat-accordion>
  </div>
</div>
