<div class="new-order m-t-1 m-l-1 m-r-1">
  <mat-card>
    <mat-card-header>
      <mat-icon class="title-icon-size" mat-card-avatar>add_to_queue</mat-icon>
      <mat-card-title>New Order</mat-card-title>
      <mat-card-subtitle>Create a new</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-vertical-stepper #stepper>
        <mat-step [stepControl]="services?.serviceForm" [optional]="optional">
          <ng-template matStepLabel>Add reperature services</ng-template>
          <avs-dashboard-order-services #services></avs-dashboard-order-services>
          <div fxLayout="row" *ngIf="services?.serviceForm.valid" fxLayoutAlign="end end">
            <button fxFlex="10" matStepperNext mat-button mat-raised-button color="accent">Next</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="clientComponent?.customerForm" [optional]="optional">
          <ng-template matStepLabel>Chose a customer or create a new one</ng-template>
          <avs-dashboard-customer-details #clientComponent fxFlexFill></avs-dashboard-customer-details>
          <div  fxLayout="row" fxLayoutAlign="end center"  *ngIf="clientComponent?.customerForm.valid"  >
            <button fxFlex="10" matStepperPrevious mat-button mat-raised-button color="accent"  >Previous</button>
            <button fxFlex="10"  matStepperNext mat-button mat-raised-button color="accent">Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Select and address or create a new one</ng-template>
          <avs-dashboard-addresses [clientId]="clientComponent?.client?.clientId" #addressForm fxFlexFill></avs-dashboard-addresses>
          <div fxLayout="row"  fxLayoutAlign="end center">
            <button  fxFlex="10"  matStepperPrevious mat-button mat-raised-button color="accent" class="m-r-1">Previous</button>
            <button  fxFlex="10"  matStepperNext mat-button mat-raised-button color="accent"  >Next</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Save your new order</ng-template>
          <div fxLayout="row"  fxLayoutAlign="end center">
            <button fxFlex="10" matStepperPrevious mat-button mat-raised-button color="accent">Previous</button>
          </div>
          <button mat-button mat-raised-button color="accent"
          (click)="saveOrder(services?.orders, clientComponent?.client, addressForm?.selectedAddress)"
          class="m-1">Submit</button>
          </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>
