<div class="new-order m-t-1 m-l-1 m-r-1">
  <mat-card>
    <mat-card-header>
      <mat-icon class="title-icon-size" mat-card-avatar>add_to_queue</mat-icon>
      <mat-card-title translate="ORDER.NEW"></mat-card-title>
      <mat-card-subtitle translate="ORDER.SUBTITLE"></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-vertical-stepper #stepper>
        <mat-step [stepControl]="services?.serviceForm" [optional]="optional">
          <ng-template matStepLabel><span translate="SERVICE.STEP"></span></ng-template>
          <avs-dashboard-order-services #services></avs-dashboard-order-services>
          <div fxLayout="row" *ngIf="services?.orders?.length" fxLayoutAlign="start center">
            <button fxFlex="10" matStepperNext mat-button mat-raised-button color="accent">
              <span  translate="BUTTON.NEXT"></span>
            </button>
          </div>
        </mat-step>
        <mat-step [optional]="optional">
          <ng-template matStepLabel><span translate="CUSTOMER.STEP"></span></ng-template>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
            <div fxFlex="50">
              <h3 translate="CUSTOMER.FIND"></h3>
              <form>
                <mat-form-field class="full-width">
                  <input type="text" id="customer_search" placeholder="{{ 'CUSTOMER.SELECT' | translate }}" matInput [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let customer of customers" [value]="getName(customer)" (click)="setCustomer(customer)">
                      {{customer.firstName}} {{customer.lastName}}, {{customer.email}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
            </div>
            <div fxFlex="50">
              <h3>
                <span *ngIf="customer?.clientId" translate="UPDATE.TITLE"></span>
                <span *ngIf="!customer?.clientId" translate="ADD.TITLE"></span>
              </h3>
              <avs-dashboard-customer-details [clientId]="customer?.clientId" (emitter)="setCustomer($event)"
                fxFlexFill></avs-dashboard-customer-details>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" *ngIf="customer?.clientId">
            <button fxFlex="10" class="m-t-1 m-r-1" matStepperPrevious mat-button mat-raised-button color="accent">
              <span translate="BUTTON.PREVIOUS"></span>
            </button>
            <button fxFlex="10" class="m-t-1 m-r-1" matStepperNext mat-button mat-raised-button color="accent">
              <span translate="BUTTON.NEXT"></span>
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel><span translate="ADDRESS.STEP"></span></ng-template>
          <div fxLayout="column">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
              <div fxFlex="50">
                <form fxLayout="column" fxFlex="100" [formGroup]="addressForms">
                  <mat-form-field>
                    <mat-select  placeholder="{{ 'ADDRESS.DELIVERY' | translate }}" formControlName="deliveryAddress">
                      <mat-option *ngFor="let address of addressForm?.addresses"   [value]="setAddressId(address?.addressId)">
                        {{address.streetName}}, {{address.cityName}}, {{address.plzNumber}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="{{ 'ADDRESS.INVOICE' | translate }}"formControlName="invoiceAddress">
                      <mat-option *ngFor="let address of addressForm?.addresses" [value]="address?.addressId">
                        {{address.streetName}}, {{address.cityName}}, {{address.plzNumber}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </form>
              </div>
              <div fxFlex="50">
                <avs-dashboard-addresses class="m-b-1" [clientId]="customer?.clientId" #addressForm fxFlexFill></avs-dashboard-addresses>
              </div>
            </div>
            <div fxLayout="row">
              <br>
              <div fxLayout="row" fxLayoutAlign="start center">
                <button class="m-t-1 m-r-1" matStepperPrevious mat-button mat-raised-button color="accent">
                 <span translate="BUTTON.PREVIOUS"></span>
                </button>
              </div>
              <br>
            </div>
            <div fxLayout="row" class="full-width"fxLayoutAlign="center center">
              <br><br>
              <button *ngIf="customer?.clientId && addressForms.valid" mat-button
                mat-raised-button class="submit-order-button m-1" color="accent" (click)="saveOrder(services?.orders)">
                <span translate="BUTTON.SUBMIT"></span>
              </button>
            </div>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>
