<div>
  <mat-toolbar color="primary">
    <span><mat-icon>mood</mat-icon></span>

    <span translate="DASHBOARD.SYSTEM.NAME"></span>
    <span style="flex:1 1 auto"></span>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
  <button mat-menu-item (click)="setCulture('tr-TR')">Turkish</button>
  <button mat-menu-item (click)="setCulture('en-EN')">English</button>
  <button mat-menu-item (click)="setCulture('de-DE')">German</button>
  </mat-menu>
</div>
