<div>
  <!-- <mat-toolbar color="primary">
    <span translate="DASHBOARD.SYSTEM.NAME"></span>
    <span style="flex:1 1 auto"></span>
  </mat-toolbar> -->
  <mat-toolbar color="primary" class="topbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <div>
          <img src="../../../assets/images/logo-icon.png" alt="logo" class="logo">
        </div>
        <span fxShow="false" fxShow.gt-xs>
          <img src="../../../assets/images/logo-text.png" alt="AuftragPro" class="logo">
        </span>
      </a>
    </div>

    <button mat-icon-button value="sidebarclosed">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button class="srh-btn">
      <mat-icon>search</mat-icon>
    </button>
    <form class="app-search">
      <input type="text" class="form-control" placeholder="Search &amp; enter">
      <a class="cl-srh-btn">
        <i class="ti-close"></i>
      </a>
    </form>
    <span fxFlex></span> <!-- the space between search icon and the profil-image -->

    <button [mat-menu-trigger-for]="language" mat-icon-button>
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu x-position="before" #language="matMenu">
      <button mat-menu-item (click)="setCulture('en-EN')">English</button>
      <button mat-menu-item (click)="setCulture('de-DE')">German</button>
    </mat-menu>

    <button [mat-menu-trigger-for]="menu" mat-icon-button>
      <img src="../../../assets/images/users/mertekin-profil.jpg" alt="user" class="profile-picture">
    </button>
    <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</button>
    </mat-menu>
  </mat-toolbar>

</div>
