<div class="customer-details">
  <!--
    <div fxLayout="row">
        <form >
            <mat-form-field >
              <input type="text" placeholder="Assignee" aria-label="Assignee"
                     matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="getFullName(option)"
                            (click)="showPersonDetails(option)">
                  {{option.firstName}} {{option.lastName}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
    </div>
  -->
  <h2> </h2>
  <div fxLayout="row">
    <form fxLayout="column" fxFlex="90" [formGroup]="customerForm">
      <div class="m-t-1 m-b-1">
        <mat-slide-toggle formControlName="isActive"><span translate="INPUT.ACTIVE"></span></mat-slide-toggle>
      </div>
      <mat-form-field>
        <mat-select placeholder="{{ 'SALUTATION.TITLE' | translate }}" formControlName="salutation">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{ 'INPUT.FIRSTNAME' | translate }}" formControlName="firstName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{ 'INPUT.LASTNAME' | translate }}" formControlName="lastName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{ 'INPUT.PHONE' | translate }}" formControlName="phone">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="16px" *ngIf="clientId">
        <div>
          <button mat-button mat-raised-button color="accent" class="m-r-1" (click)="submitClientForm()">
            <span translate="BUTTON.UPDATE"></span>
          </button>
          <button mat-button mat-raised-button color="warn" (click)="deleteClient()">
            <span translate="BUTTON.DELETE"></span>
          </button>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="16px" *ngIf="!clientId">
        <div>
          <button mat-button mat-raised-button color="accent" class="m-r-1" (click)="createClient()">
            <span translate="BUTTON.SAVE"></span>
          </button>
        </div>
      </div>
    </form>
  </div>

</div>
