<div fxLayout="column" class="dashboard-main m-1">
  <h2>Statics</h2>
  <div fxLayout="row wrap" class="">
    <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div>
            <div>
              <button mat-fab mat-card-icon>
                <mat-icon>format_list_bulleted</mat-icon>
              </button>
            </div>
            <div>
              <h3>386</h3>
              <h6>New Clients</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div>
            <div>
              <button mat-fab color="warn" mat-card-icon>
                <mat-icon>local_mall</mat-icon>
              </button>
            </div>
            <div>
              <h3>2408</h3>
              <h6>All Projects</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div>
            <div>
              <button mat-fab color="accent" mat-card-icon>
                <mat-icon>perm_device_information</mat-icon>
              </button>
            </div>
            <div>
              <h3>352</h3>
              <h6>New Items</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div>
            <div>
              <button mat-fab color="warn" mat-card-icon>
                <mat-icon>content_paste</mat-icon>
              </button>
            </div>
            <div>
              <h3>159</h3>
              <h6>New Invoices</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div>
            <div>
              <button mat-fab color="warn" mat-card-icon>
                <mat-icon>build</mat-icon>
              </button>
            </div>
            <div>
              <h3>159</h3>
              <h6>New Invoices</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <h2>Orders</h2>
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div>
            <div>
              <button mat-fab mat-card-icon>
                <mat-icon>format_list_bulleted</mat-icon>
              </button>
            </div>
            <div>
              <h3>386</h3>
              <h6>New Clients</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div>
            <div>
              <button mat-fab color="warn" mat-card-icon>
                <mat-icon>local_mall</mat-icon>
              </button>
            </div>
            <div>
              <h3>2408</h3>
              <h6>All Projects</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div>
            <div>
              <button mat-fab color="accent" mat-card-icon>
                <mat-icon>perm_device_information</mat-icon>
              </button>
            </div>
            <div>
              <h3>352</h3>
              <h6>New Items</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div>
            <div>
              <button mat-fab color="warn" mat-card-icon>
                <mat-icon>content_paste</mat-icon>
              </button>
            </div>
            <div>
              <h3>159</h3>
              <h6>New Invoices</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div>
            <div>
              <button mat-fab color="warn" mat-card-icon>
                <mat-icon>build</mat-icon>
              </button>
            </div>
            <div>
              <h3>159</h3>
              <h6>New Invoices</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>