<div fxLayout="column" class="dashboard-main m-1">
  <mat-card>
    <mat-card-content>
  <h2>Statics</h2>
  <!--
  <div fxLayout="row wrap" class="">
    <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div>
            <div>
              <button mat-fab mat-card-icon>
                <mat-icon>format_list_bulleted</mat-icon>
              </button>
            </div>
            <div>
              <h3>386</h3>
              <h6>New Clients</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  -->
  <div fxLayout="column">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="40px">
      <div fxFlex="50" >
          <avs-line-chart type="line" title="Monatly used services" style="width:100%"></avs-line-chart>
      </div>
      <div fxFlex="50" >
          <avs-line-chart  type="line" title="Monatly used services" style="width:100%"></avs-line-chart>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="40px">
        <div fxFlex="50">
            <avs-line-chart type="bar" title="Monatly gained amount" [data]="monathlyGainData" style="width:100%"></avs-line-chart>
        </div>
        <div fxFlex="50">
            <avs-line-chart type="bar" title="Monatly used services" style="width:100%"></avs-line-chart>
        </div>
      </div>
  </div>
</mat-card-content>
</mat-card>
</div>
