<div fxLayout="column">
        <h2>Statics</h2>
          <div fxLayout="row nowrap" class="m-1">
            <!-- column -->
            <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100" class="m-1">
              <mat-card>
                <mat-card-content>
                  <!-- Row -->
                  <div>
                    <!-- column -->
                    <div>
                      <button mat-fab mat-card-icon>
                        <mat-icon>account_circle</mat-icon>
                      </button>
                    </div>
                    <!-- column -->
                    <div>
                      <h3>386</h3>
                      <h6>New Clients</h6>
                    </div>
        
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <!-- column -->
            <!-- column -->
            <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100" class="m-1">
              <mat-card>
                <mat-card-content>
                  <!-- Row -->
                  <div >
                    <!-- column -->
                    <div >
                      <button mat-fab color="warn" mat-card-icon>
                        <mat-icon>local_mall</mat-icon>
                      </button>
                    </div>
                    <!-- column -->
                    <div>
                      <h3 >2408</h3>
                      <h6 >All Projects</h6>
                    </div>
        
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <!-- column -->
            <!-- column -->
            <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100" class="m-1">
              <mat-card>
                <mat-card-content>
                  <!-- Row -->
                  <div >
                    <!-- column -->
                    <div>
                      <button mat-fab color="accent" mat-card-icon class="shadow-none">
                        <mat-icon>stars</mat-icon>
                      </button>
                    </div>
                    <!-- column -->
                    <div>
                      <h3 >352</h3>
                      <h6 >New Items</h6>
                    </div>
        
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <!-- column -->
            <!-- column -->
            <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100" class="m-1">
              <mat-card>
                <mat-card-content>
                  <!-- Row -->
                  <div >
                    <!-- column -->
                    <div >
                      <button mat-fab color="warn" mat-card-icon>
                        <mat-icon>content_paste</mat-icon>
                      </button>
                    </div>
                    <!-- column -->
                    <div>
                      <h3 >159</h3>
                      <h6 >New Invoices</h6>
                    </div>
        
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <!-- column -->
            <!-- column -->
            <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100" class="m-1">
              <mat-card>
                <mat-card-content>
                  <!-- Row -->
                  <div >
                    <!-- column -->
                    <div >
                      <button mat-fab color="warn" mat-card-icon>
                        <mat-icon>build</mat-icon>
                      </button>
                    </div>
                    <!-- column -->
                    <div>
                      <h3>159</h3>
                      <h6 >New Invoices</h6>
                    </div>
        
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <!-- column -->
          </div>
          <h2>Orders</h2>  
          <div fxLayout="row nowrap" class="m-1">
            <!-- column -->
            <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100" class="m-1">
              <mat-card>
                <mat-card-content>
                  <!-- Row -->
                  <div >
                    <!-- column -->
                    <div >
                      <button mat-fab mat-card-icon>
                        <mat-icon>account_circle</mat-icon>
                      </button>
                    </div>
                    <!-- column -->
                    <div>
                      <h3>386</h3>
                      <h6 >New Clients</h6>
                    </div>
        
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <!-- column -->
            <!-- column -->
            <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100" class="m-1">
              <mat-card>
                <mat-card-content>
                  <!-- Row -->
                  <div >
                    <!-- column -->
                    <div >
                      <button mat-fab color="warn" mat-card-icon class="shadow-none  bg-warning">
                        <mat-icon>local_mall</mat-icon>
                      </button>
                    </div>
                    <!-- column -->
                    <div>
                      <h3 >2408</h3>
                      <h6 >All Projects</h6>
                    </div>
        
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <!-- column -->
            <!-- column -->
            <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100" class="m-1">
              <mat-card>
                <mat-card-content>
                  <!-- Row -->
                  <div >
                    <!-- column -->
                    <div >
                      <button mat-fab color="accent" mat-card-icon class="shadow-none">
                        <mat-icon>stars</mat-icon>
                      </button>
                    </div>
                    <!-- column -->
                    <div>
                      <h3 >352</h3>
                      <h6 >New Items</h6>
                    </div>
        
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <!-- column -->
            <!-- column -->
            <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100" class="m-1">
              <mat-card>
                <mat-card-content>
                  <!-- Row -->
                  <div >
                    <!-- column -->
                    <div >
                      <button mat-fab color="warn" mat-card-icon >
                        <mat-icon>content_paste</mat-icon>
                      </button>
                    </div>
                    <!-- column -->
                    <div>
                      <h3 >159</h3>
                      <h6 >New Invoices</h6>
                    </div>
        
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <!-- column -->
            <!-- column -->
            <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100" class="m-1">
              <mat-card>
                <mat-card-content>
                  <!-- Row -->
                  <div >
                    <!-- column -->
                    <div >
                      <button mat-fab color="warn" mat-card-icon >
                        <mat-icon>build</mat-icon>
                      </button>
                    </div>
                    <!-- column -->
                    <div>
                      <h3 >159</h3>
                      <h6 >New Invoices</h6>
                    </div>
        
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <!-- column -->
          </div>
        </div>