<div class="order-component avs-list m-t-1 m-l-1">
  <mat-card>
    <mat-card-header>
      <mat-icon class="title-icon-size" mat-card-avatar>format_list_bulleted</mat-icon>
      <mat-card-title translate="ORDER.TITLE"></mat-card-title>
      <mat-card-subtitle translate="ORDER.LIST"></mat-card-subtitle>
      <div class="search-area">
        <div class="search-wrapper">
          <avs-search (word)="searchWord($event)"></avs-search>
        </div>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="row" class="order-list-container list-container">
      <div class="no-order" *ngIf="!orders?.length">
        <span translate="NOTICE.TITLE"></span>
      </div>
      <div fxFlex="30"  fxHide [fxHide.gt-sm]="'false'" fxlayoutalign="center center" class="order-list" *ngIf="orders?.length">
        <div class="order-items-scrollbar-area" [perfectScrollbar]>
          <avs-animate-fadein [state]="animationState">
            <mat-list role="list">
              <mat-list-item class="order-item-holder item-holder" role="listitem" *ngFor="let order of orders">
                <avs-dashboard-order-item [currentId]="currentOrderId" [order]="order" class="avs-dashboard-order-item"></avs-dashboard-order-item>
              </mat-list-item>
            </mat-list>
          </avs-animate-fadein>
        </div>
      </div>
      <div fxFlex="70" [fxFlex.sm]="100" [fxFlex.xs]="100" fxlayoutalign="center center" *ngIf="currentOrderId && orders?.length" >
        <avs-dashboard-order-details (emitter)="getAllOrders($event)"  [currentOrderId]="currentOrderId"></avs-dashboard-order-details>
      </div>
    </mat-card-content>
  </mat-card>
</div>
