<div class="order-component m-t-1 m-l-1">
  <mat-card class="full-height">
    <mat-card-header>
        <mat-icon class="title-icon-size" mat-card-avatar>format_list_bulleted</mat-icon>
        <mat-card-title>Orders</mat-card-title>
        <mat-card-subtitle>Order list</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="row" class="order-list-container">
      <div fxFlex="20" fxlayoutalign="center center" class="order-list">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <avs-dashboard-order-item class="avs-dashboard-order-item"></avs-dashboard-order-item>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item role="listitem">
            <avs-dashboard-order-item class="avs-dashboard-order-item"></avs-dashboard-order-item>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item role="listitem">
            <avs-dashboard-order-item class="avs-dashboard-order-item"></avs-dashboard-order-item>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item role="listitem">
            <avs-dashboard-order-item class="avs-dashboard-order-item"></avs-dashboard-order-item>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
        </mat-list>
      </div>
      <div fxFlex="80" fxlayoutalign="center center">
        <avs-dashboard-order-details></avs-dashboard-order-details>
      </div>
    </mat-card-content>
  </mat-card>
</div>
