 .order-component {
   .title-icon-size {
       font-size: 48px;
   }

   .mat-card {
     padding: 16px 0;

     .mat-card-header {
       padding-left: 16px;
     }
   }

   .order-list-container {
     .order-list {
       border-right: 1px solid rgba(0, 0, 0, 0.12);

       .avs-dashboard-order-item {
         width: 100%;
       }

       .mat-list {
         padding-top: 0;

         .mat-list-item {
           height: auto;
         }
       }
     }

   }
 }
