<div class="dashboard-added-devices expansion-panel-border-fix">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="m-r-1">
          <mat-icon>perm_device_information</mat-icon>
        </span>
        <span>{{device.deviceName}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form fxLayout="column" fxFlex="100" [formGroup]="deviceForm">
      <mat-form-field>
        <input matInput placeholder="{{'DEVICE.NAME' | translate}}" formControlName="deviceName">
      </mat-form-field>
      <div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-button mat-raised-button color="accent" (click)="updateDevice()">
            <span translate="BUTTON.UPDATE"></span>
          </button>
          <button mat-button mat-raised-button color="warn" (click)="deleteDevice()" *ngIf="isAdmin()">
            <span translate="BUTTON.DELETE"></span>
          </button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</div>
