<div class="dashboard-added-devices">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="m-r-1">
          <mat-icon>perm_device_information</mat-icon>
        </span>
        <span>{{device.deviceName}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form fxLayout="column" fxFlex="100" [formGroup]="deviceForm">
      <mat-form-field>
        <input matInput placeholder="Device name" formControlName="deviceName">
      </mat-form-field>
      <div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-button mat-raised-button color="accent" (click)="updateDevice()">Update</button>
          <button mat-button mat-raised-button color="warn" (click)="deleteDevice()">Delete</button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</div>
