<div class="avs-dashboard-content">
  <simple-notifications></simple-notifications>
  <mat-sidenav-container class="container full-height">
    <mat-sidenav [autoFocus]="false" #sidenav [(mode)]="over" [(opened)]="opened" class="side-nav">
      <avs-dashboard-side-menu-content></avs-dashboard-side-menu-content>
    </mat-sidenav>
    <mat-sidenav-content class="mat-sidenav-content">
      <avs-animate-fadein [state]="animationState">
        <router-outlet></router-outlet>
      </avs-animate-fadein>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
