<div>
  <mat-card class="home-footer-card">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <mat-list>
          <mat-list-item><a class="footer-list" href=""> AVS </a></mat-list-item>
          <mat-list-item><a class="footer-list" href=""> Solutions</a> </mat-list-item>
          <mat-list-item><a class="footer-list" href=""> Support </a> </mat-list-item>
        </mat-list>
        <mat-list>
          <mat-list-item> Plans </mat-list-item>
          <mat-list-item> Contact </mat-list-item>
          <mat-list-item> About Us </mat-list-item>
        </mat-list>
        <mat-list>
          <mat-list-item> AVS </mat-list-item>
          <mat-list-item> Solutions </mat-list-item>
          <mat-list-item> Support </mat-list-item>
        </mat-list>
      </div>

    </mat-card-content>
  </mat-card>
</div>