<div class="dashboard-devices m-t-1 m-l-1 m-r-1">
    <mat-card>
      <mat-card-header>
        <mat-icon class="title-icon-size" mat-card-avatar>perm_device_information</mat-icon>
        <mat-card-title translate="DEVICE.NEW"></mat-card-title>
        <mat-card-subtitle translate="DEVICE.SUBTITLE"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-vertical-stepper [linear]="'true'">
          <mat-step [stepControl]="">
            <ng-template matStepLabel><span translate="DEVICE.STEP"></span></ng-template>
            <avs-dashboard-new-device #deviceForm></avs-dashboard-new-device>
            <button mat-button mat-raised-button matStepperNext color="accent" [disabled]="!deviceForm?.selectedDeviceForm?.valid" class="m-r-1">
                <span translate="BUTTON.NEXT"></span>
            </button>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel><span translate="MODEL.STEP"></span></ng-template>
             <avs-dashboard-device-model #modelForm [deviceId]="deviceForm?.device?.deviceId"></avs-dashboard-device-model>
             <button mat-button mat-raised-button matStepperNext color="accent" [disabled]="!modelForm?.selectedDeviceModelForm?.valid" class="m-r-1">
                <span translate="BUTTON.NEXT"></span>
            </button>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel><span translate="SERVICE.STEP"></span></ng-template>
            <avs-dashboard-device-service [modelId]="modelForm?.model?.deviceModelId"></avs-dashboard-device-service>
          </mat-step>
        </mat-vertical-stepper>
      </mat-card-content>
    </mat-card>
</div>
