.dashboard-address-extra{
    .mat-expansion-panel:last-of-type {
         border-bottom-right-radius: 0px;  
         border-bottom-left-radius: 0px;  
    }
     
    .mat-expansion-panel:first-of-type {
        border-top-right-radius: 0px;  
         border-top-left-radius: 0px;  
    }
}