<!--
<div class="customers-component m-1" fxFlex.gt-sm="70" fxFlex.gt-xs="100" fxFlex="100">
  <mat-card>
    <mat-card-header>
      <mat-icon class="title-icon-size" mat-card-avatar>person</mat-icon>
      <mat-card-title>Customers</mat-card-title>
      <mat-card-subtitle>Create a new customer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-vertical-stepper>
        <mat-step>
          <ng-template matStepLabel>Add customer informations</ng-template>
          <avs-dashboard-customer-details></avs-dashboard-customer-details>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Add customer address</ng-template>
          <avs-dashboard-addresses></avs-dashboard-addresses>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>
-->
<div class="customer-component avs-list m-t-1 m-l-1">
  <mat-card>
    <mat-card-header>
      <mat-icon class="title-icon-size" mat-card-avatar>person</mat-icon>
      <mat-card-title translate="CUSTOMER.TITLE"></mat-card-title>
      <mat-card-subtitle translate="CUSTOMER.LIST"></mat-card-subtitle>
      <div class="search-area">
        <div class="search-wrapper">
          <avs-search (word)="searchWord($event)"></avs-search>
        </div>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="row" class="customer-list-container list-container">
      <div fxFlex="30" fxlayoutalign="center center" class="customer-list">
        <div class="customer-items-scrollbar-area" [perfectScrollbar]>
          <avs-animate-fadein [state]="animationState">
            <mat-list role="list">
              <mat-list-item class="customer-item-holder item-holder" role="listitem" *ngFor="let customer of customers">
                <avs-dashboard-customer-item [currentId]="currentCustomerId" [customer]="customer" class="avs-dashboard-customer-item"></avs-dashboard-customer-item>
              </mat-list-item>
            </mat-list>
          </avs-animate-fadein>
        </div>
      </div>
      <div fxFlex="70" fxlayoutalign="center center" class="customer-main-details p-l-1 p-r-1 p-t-1" *ngIf="currentCustomerId">
        <mat-tab-group>
          <mat-tab label="{{'CUSTOMER.DETAILS' | translate}}">
            <avs-dashboard-customer-details (emitter)="getAll($event)" [clientId]="currentCustomerId"></avs-dashboard-customer-details>
          </mat-tab>
          <mat-tab label="{{'CUSTOMER.ADDRESS' | translate}}">
              <avs-dashboard-addresses [clientId]="currentCustomerId" #addressForm fxFlexFill></avs-dashboard-addresses>
          </mat-tab>
          <mat-tab label="{{'CUSTOMER.ORDERS' | translate}}">
            <avs-dashboard-customer-orders [clientId]="currentCustomerId"></avs-dashboard-customer-orders>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card-content>
  </mat-card>
</div>
