.customer-component {
  .mat-card {
    padding: 16px 0;

    .mat-card-header {
      padding-left: 16px;
    }
  }

  .customer-list-container {
    .customer-list {
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      .avs-dashboard-customer-item {
        width: 100%;
      }
      .mat-list {
        padding-top: 0;
        .mat-list-item {
          height: auto;
        }
      }
    }
    .customer-main-details{
      background: whitesmoke;
    }
  }

  .customer-items-scrollbar-area{
    max-height: calc(100vh - 200px);
    position: relative;
  }

  .search-area{
    flex: 1 1 auto;
  }
}
