.login-page {
  .background-image-container{
    background-image: url(/assets/images/mock1.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    .login-form{
      max-width: 400px;
      min-width: 400px;
      height: 300px;
      .person{
        font-size: 48px;
        height: 48px;
        width: 48px;
      }
      .login-card{
        margin-top: 30px;
      }
    }
  }
}

