<div class="login-page ">
  <div class="background-img">
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile> </mat-grid-tile>
      <mat-grid-tile> </mat-grid-tile>
      <mat-grid-tile> </mat-grid-tile>
      <mat-grid-tile> </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="full-width">
          <div class="login-card">
            <form [formGroup]="loginForm">
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email" name="email" required>
                  <mat-error *ngIf="!email.valid"></mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="{{ 'PASSWORD.TITLE' | translate }}" formControlName="password" name="password"
                    required>
                  <mat-error *ngIf="!password.valid"></mat-error>
                </mat-form-field>
              </div>
              <button mat-button></button>
            </form>
          </div>
          <button type="button" mat-button mat-raised-button color="primary" (click)="submit()">
            <span translate="BUTTON.LOGIN"></span>
          </button>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
