<div class="dashboard-added-service expansion-panel-border-fix">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="m-r-1">
          <mat-icon>perm_device_information</mat-icon>
        </span>
        <span>{{service.serviceName}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form fxLayout="column" fxFlex="100" [formGroup]="serviceForm">
      <mat-form-field>
        <input matInput placeholder="{{'SERVICE.NAME' | translate}}" formControlName="serviceName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'INPUT.PRICE' | translate}}" formControlName="price">
      </mat-form-field>
      <div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-button mat-raised-button color="accent" (click)="updateService()">
            <span translate="BUTTON.UPDATE"></span>
          </button>
          <button mat-button mat-raised-button color="warn" (click)="deleteService()" *ngIf="isAdmin()">
            <span translate="BUTTON.DELETE"></span>
          </button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</div>
