<div class="order-details p-t-1 p-l-1 p-r-1">
  <mat-tab-group>
    <mat-tab label="{{'ORDER.DETAILS' | translate }}">
      <div fxLayout="row">
        <span fxFlex></span>
        <div class="m-t-1 m-r-1 m-b-1" fxLayoutAlign="end center">
          <button mat-fab class="" (click)="emailToClient(currentOrder.orderId)">
            <mat-icon>email</mat-icon>
          </button>
          <button mat-fab class="m-l-1 m-r-1" (click)="downloadInvoice(currentOrder.orderId)">
            <mat-icon *ngIf="!disableDownloadButton">print</mat-icon>
            <mat-spinner color="warn" diameter="30" *ngIf="disableDownloadButton"></mat-spinner>
          </button>
          <button mat-fab color="warn" (click)="deleteOrder(currentOrder.orderId)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div fxLayout="row" fxLayout.xs="column" class="m-1">
        <div fxFlex="60">
          <div *ngFor="let service of currentOrder?.orderServices; let i = index;">
            <avs-order-item-service (emitter)="getOrderById($event)" [service]="service"></avs-order-item-service>
          </div>
          <avs-order-item-service (emitter)="getOrderById($event)" [orderId]="currentOrderId"></avs-order-item-service>
        </div>
        <div fxFlex="40" fxLayout="column">
          <div>
            <mat-card>
              <mat-card-content>
                <div fxLayout="row"  fxLayoutAlign="space-between center">
                  <h2>TOTAL:</h2>
                  <h2>{{currentOrder?.price}}.- CHF</h2>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-card>
              <mat-card-content>
                <form>
                  <mat-radio-group class="example-radio-group">
                    <mat-radio-button (click)="saveStatus(status.color)" [checked]="status?.color === currentOrder?.status"
                      class="example-radio-button" *ngFor="let status of statuses" [value]="status.color">
                      <span class="status-color status-color-{{status.color}}">
                        {{status.name}}
                      </span>
                    </mat-radio-button>
                  </mat-radio-group>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-card>
              <mat-card-content>
                {{currentOrder?.deliveryDate | date: 'short'}}
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-card>
              <mat-card-content>
                <h3 translate="USER.TITLE"></h3>
                {{currentOrder?.user?.firstName}} {{currentOrder?.user?.lastName}}
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{'CUSTOMER.DETAILS' | translate }}">
      <avs-dashboard-customer-details (emitter)="getOrderById($event)" [clientId]="currentOrder?.client?.clientId"></avs-dashboard-customer-details>
    </mat-tab>
    <mat-tab label="Commments">
      <br><br>
      <div [froalaEditor] [(froalaModel)]="editorContent" class="full-height"></div>
      <button mat-raised-button color="primary" (click)="addOrderComment(editorContent)">
        <mat-icon>add</mat-icon>Add comment
      </button>
    </mat-tab>
  </mat-tab-group>
</div>
