.order-details {
  background: whitesmoke;
  .example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }

  .example-radio-button {
    margin: 5px;
  }

  .mat-card {
    border-radius: 0px;
    margin-bottom: 10px;
    padding: 16px;
  }

  .mat-radio-button label div:last-child {
    background: red;
  }

  .full-height {
    min-height: 300px;
  }
}
