<div class="order-details m-t-1 m-l-1 m-r-1">
  <!-- Orders Overview-->

  <!-- Customer Info-->

  <!-- Orders Overview-->
  <mat-tab-group>
    <mat-tab label="Order Details">
      <div fxLayout="row">
        <h2>Order Details</h2>
        <span fxFlex></span>
        <div class="m-t-1 m-r-1 m-b-1" fxLayoutAlign="end center">
          <button mat-fab color="warn" (click)="deleteOrder(currentOrder.orderId)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-fab class="m-l-1" (click)="emailToClient(currentOrder.orderId)">
            <mat-icon>email</mat-icon>
          </button>
          <button mat-fab class="m-l-1" (click)="downloadInvoice(currentOrder.orderId)">
            <mat-icon *ngIf="!disableDownloadButton">print</mat-icon>
            <mat-spinner color="warn" diameter="30" *ngIf="disableDownloadButton" ></mat-spinner>
          </button>
        </div>
      </div>
      <div fxLayout="row"class="m-1">
        <div fxFlex="60">
          <div *ngFor="let service of currentOrder?.orderServices; let i = index">
            <mat-card>
              <mat-card-title>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div>#Service {{i+1}}:</div>
                  <div>{{service?.Service?.price}}.- CHF</div>
                </div>
              </mat-card-title>
              <mat-card-content>
                <div fxLayout="column">
                  <div class="service-first" >
                    <mat-card-subtitle>IMEI:{{service?.device?.deviceId}}</mat-card-subtitle>
                    <mat-card-subtitle>Service: {{service?.Service?.serviceName}}</mat-card-subtitle>
                    <mat-card-subtitle>Model: {{service?.deviceModel?.deviceModelName}}</mat-card-subtitle>
                    <mat-card-subtitle>Device:{{service?.device?.deviceName}}</mat-card-subtitle>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div fxFlex="40" fxLayout="column">
          <div>
            <mat-card>
              <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <h2>TOTAL:</h2>
                  <h2>{{currentOrder?.price}}.- CHF</h2>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-card>
              <mat-card-content>
                <mat-radio-group class="example-radio-group" [(ngModel)]="orderStatus">
                  <mat-radio-button class="example-radio-button" *ngFor="let status of statuses" [value]="status">
                    <span class="status-color status-color-{{status.color}}">
                      {{status.name}}
                    </span>
                  </mat-radio-button>
                </mat-radio-group>
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-card>
              <mat-card-content>
                 {{currentOrder?.deliveryDate | date: 'short'}}
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-card>
              <mat-card-content>
                <h3>User:</h3>
                {{currentOrder?.user?.firstName}}  {{currentOrder?.user?.lastName}}
              </mat-card-content>
            </mat-card>
          </div>
          <div>
            <mat-card>
              <mat-card-content>
                <form class="example-form">

                  <mat-form-field class="full-width">
                    <input matInput #message maxlength="140" placeholder="Comments">
                    <mat-hint align="start"><strong>Order Description</strong> </mat-hint>
                    <mat-hint align="end">{{message.value.length}} / 140</mat-hint>
                  </mat-form-field>

                </form>
              </mat-card-content>
            </mat-card>

          </div>
        </div>

      </div>


    </mat-tab>
    <mat-tab label="Customer Details"> Customer Details </mat-tab>

  </mat-tab-group>
</div>
